.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 65px;
  margin: 0;
  width: 460px;
}

@media screen and (max-width: 1190px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .place__title {
    max-width: 330px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 740px) {
  .place__title {
    max-width: calc(100% - 32px);
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 0 16px;
  }
}
