.cover__bg {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.6;
}

@media screen and (max-width: 1190px) {
  .cover__bg {
    width: 1045px;
    height: 562px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__bg {
    width: 100%;
    height: 500px;
  }
}

@media screen and (max-width: 740px) {
  .cover__bg {
    height: 272px;
  }
}
