.photo-grid__item {
  object-fit: cover;
  width: 284px;
}

@media screen and (max-width: 1190px) {
  .photo-grid__item {
    width: 300px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__item {
    width: 352px;
  }
}

@media screen and (max-width: 740px) {
  .photo-grid__item {
    width: 100%;
    margin: 0;
    object-fit: cover;
  }
}
