.intro__text {
  list-style-type: none;
  margin: 24px 0 102px;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}

@media screen and (max-width: 740px) {
  .intro__text {
    font-size: 12px;
    line-height: 19px;
  }
}
