@import url(./__title/intro__title.css);
@import url(./__content-text/intro__content-text.css);
@import url(./__text/intro__text.css);
@import url(./__paragraph/intro__paragraph.css);
@import url(./__number/intro__number.css);

.intro {
  width: 984px;
}

@media screen and (max-width: 1190px) {
  .intro {
    width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    width: 720px;
  }
}

@media screen and (max-width: 740px) {
  .intro {
    width: calc(100% - 32px);
  }
}
