.cover__title {
  position: absolute;
  top: 274px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1094px;
  text-align: center;
  z-index: 1;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
}

@media screen and (max-width: 1190px) {
  .cover__title {
    max-width: 550px;
    top: 211px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__title {
    top: 165px;
  }
}

@media screen and (max-width: 740px) {
  .cover__title {
    max-width: calc(100% - 32px);
    font-size: 32px;
    line-height: 35px;
    top: 35%;
  }
}

