* {
    border: 1px solid red;
}

.page {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    background: #2A2C2F;
    padding: 0;
  }

.header {
    width: 1184px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 128px 48px;
}

.header__logo {
    width: 176px;
    height: 52px;
}

.hader__lang-selector {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.header__lang {
    margin-right: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    text-align: right;
}

.header__lang:first-of-type {
    text-decoration-line: underline;
}

.header__lang:last-of-type {
    margin-right: 0;
}

.content {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 228px;
  padding: 0;
}

.lead__title {
  max-width: 782px;
  margin: 0 0 48px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 93px;
  text-align: center;
}

.lead__subtitle {
  max-width: 583px;
  margin: 0 0 78px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.lead__image {
  width: 984px;
  height: 554px;
}

.lead__caption {
  align-self: flex-start;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.intro {
  margin-right: 302px;
  max-width: 683px;
}

.intro__title {
  margin: 80px 0 48px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 59px;
}

.intro__content-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.intro__text {
  list-style-type: none;
  margin: 24px 0 102px;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}

.intro__paragraph {
  display: flex;
  flex-direction: row;
}

.intro__number {
  font-weight: normal;
  margin: 0;
}

.photo-grid {
  margin: 0 128px 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px;
}

.photo-grid__item {
  object-fit: cover;
  width: 284px;
  height: 188px;
}

.photo-grid__item_shadow_true {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.places {
  list-style-type: none;
  padding: 0;
  margin: 0 228px;
}

.place {
  display: flex;
  flex-direction: column;
  width: 984px;
  margin-bottom: 72px;
}

.place__heading {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 0 60px;
}

.place__content {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 65px;
  margin: 0;
  width: 460px;
}

.place__image {
  width: 460px;
  height: 460px;
  margin-right: 40px;
}

.place__website {
  margin-left: 45px;
}

.place__url-heading {
  margin: 0 0 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}

.place__url {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-decoration-line: underline;
}

.place__url:active, .place__url:visited, .place__url:link {
  color: #FFF;
}


.place__text {
  display: flex;
  flex-direction: column;
}

.place__paragraph {
  margin: 0 0 36px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.place__paragraph:last-of-type {
  margin: 0;
}
