.header__lang-url, .header__lang-url:active, .header__lang-url:visited, .header__lang-url:link {
  color: #FFF;
  text-decoration: none;
}

.header__lang-url:hover {
  opacity: 0.7;
  transition: opacity ease-out .2s;
}
